---
admin:
  access_log_path: /var/log/envoy/admin_access.log
  address:
    socket_address:
      protocol: TCP
      address: 127.0.0.1
      port_value: 9901
static_resources:
  listeners:
{%- for (key, svc) in svcs|dictsort -%}
{%- for port in svc.spec.ports -%}
{%- if port.protocol == 'TCP' %}
  - name: listener_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
    address:
      socket_address:
        protocol: TCP
        address: {{ svc.spec.load_balancer_ip }}
        port_value: {{ port.port }}
    filter_chains:
    - filters:
      - name: envoy.tcp_proxy
        config:
          stat_prefix: {{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
          cluster: cluster_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
{%- endif %}
{% endfor %}
{% endfor %}
  clusters:
{%- for (key, svc) in svcs|dictsort -%}
{%- for port in svc.spec.ports -%}
{%- if port.protocol == 'TCP' %}
  - name: cluster_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
    connect_timeout: 0.25s
    lb_policy: ROUND_ROBIN
    health_checks:
    - timeout: 1s
      interval: 1s
      healthy_threshold: 1
      unhealthy_interval: 1s
      unhealthy_threshold: 1
{%- if svc.spec.health_check_node_port %}
      http_health_check:
        path: /
{%- else %}
      tcp_health_check: {}
{%- endif %}
    load_assignment:
      cluster_name: cluster_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
      endpoints:
      - lb_endpoints:
{%- for (name, host) in hosts|dictsort %}
        - endpoint:
{%- if svc.spec.health_check_node_port %}
            health_check_config:
              port_value: {{ svc.spec.health_check_node_port }}
{%- endif %}
            address:
              socket_address:
                address: {{ (host.status.addresses | selectattr('type', 'equalto', 'InternalIP')|map(attribute='address') | list)[0] }}
                port_value: {{ port.node_port }}
{%- endfor %}
{%- endif %}
{% endfor %}
{% endfor %}
