global
    log         127.0.0.1 local2

    chroot      /usr/share/haproxy
    pidfile     /run/haproxy.pid
    maxconn     20000
    user        haproxy
    group       haproxy
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000


frontend http_front
   mode http
   bind 127.0.0.1:8080
   stats uri /info

{%- for (key, svc) in svcs|dictsort -%}
{%- for port in svc.spec.ports -%}
{%- if port.protocol == 'TCP' %}

# Configuration for {{ key }}:{{ port.port }}
frontend front_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
   bind {{ svc.spec.load_balancer_ip }}:{{ port.port }}
   default_backend back_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}

backend back_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
{%- if svc.spec.health_check_node_port %}
   option httpchk
{%- endif %}
   balance roundrobin
{%- for (name, host) in hosts|dictsort %}
   server node_{{ name | replace('-', '_') }} {{ (host.status.addresses | selectattr('type', 'equalto', 'InternalIP')|map(attribute='address') | list)[0] }}:{{ port.node_port }} check{% if svc.spec.health_check_node_port %} port {{ svc.spec.health_check_node_port}} {% endif %}
{%- endfor %}
{%- endif %}
{% endfor %}
{% endfor %}
