! Configuration File for keepalived
{% set seen_addresses = {} %}
vrrp_instance SUPPA_VIP {
  state MASTER
  interface {{ config.interface }}
  virtual_router_id {{ config.keepalived.virtual_router_id }}
  priority 100
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ config.keepalived.auth_pass}}
  }
  virtual_ipaddress {
{% for (key, svc) in svcs|dictsort -%}
    {% if svc.spec.load_balancer_ip not in seen_addresses -%}
    {{ svc.spec.load_balancer_ip }} dev {{ config.interface }}
    {% set _dummy = seen_addresses.update({svc.spec.load_balancer_ip: True}) %}
    {% endif -%}
{% endfor -%}
  }
}

{%- for (key, svc) in svcs|dictsort -%}
{%- for port in svc.spec.ports -%}
{%- if port.protocol == 'TCP' %}
virtual_server {{ svc.spec.load_balancer_ip }} {{ port.port }} {
  lb_algo lc
  lb_kind NAT
  delay_loop 1
  protocol TCP
{%- for (name, host) in hosts|dictsort %}
  real_server {{ (host.status.addresses | selectattr('type', 'equalto', 'InternalIP')|map(attribute='address') | list)[0] }} {{ port.node_port }} {
{%- if svc.spec.health_check_node_port %}
    HTTP_GET {
      url {
        path /
        status_code 200
      }
      connect_port {{ svc.spec.health_check_node_port }}
      connect_timeout 1
      retry 1
      delay_before_retry 1
    }
{%- else %}
    TCP_CHECK { }
{%- endif %}
  }
{%- endfor %}
}
{% endif -%}
{% endfor -%}
{% endfor -%}
