! Configuration File for keepalived
{% set seen_addresses = {} %}
vrrp_instance SUPPA_VIP {
  state MASTER
  interface {{ config.interface }}
  virtual_router_id {{ config.keepalived.virtual_router_id }}
  priority 100
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass  {{ config.keepalived.auth_pass }}
  }
  virtual_ipaddress {
{% for (key, svc) in svcs|dictsort -%}
    {% if svc.spec.load_balancer_ip not in seen_addresses -%}
    {{ svc.spec.load_balancer_ip }} dev {{ config.interface }}
    {% set _dummy = seen_addresses.update({svc.spec.load_balancer_ip: True}) %}
    {% endif %}
{% endfor %}
  }
}
